h1,h2,h3,p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #checkbox {
    display: none;
} */
.btn span{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10em;
    background-color: var(--bg-color);
}
#checkbox + .btn{
    --bg-color: var(--btn-color);
}
#checkbox:checked + .btn{
    --bg-color: var(--btn-checked-color);
}
span.middle{
    width: 17.32em;
    top: 50%;
}
span.top{
    background-color: transparent;
    width: 0;
    height: 0;
    border-bottom: 5em solid var(--bg-color);
    border-left: 8.66em solid transparent;
    border-right: 8.66em solid transparent;
    top: calc(50% - 7.5em);
}
span.bottom{
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 5em solid var(--bg-color);
    border-left: 8.66em solid transparent;
    border-right: 8.66em solid transparent;
    top: calc(50% + 7.5em);
}
.hexagon {
    width: 96.75px;
    height: 150px;
    background-image: linear-gradient(90deg, #00ffb8, #13ce9a);
    border-radius: 15px;
    transition: transform 400ms ease;
}
.hexagon:hover {
    transform: rotate(30deg);
}
.hexagon:before, .hexagon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
}
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (prefers-color-scheme: light) {
    :root{
        --btn-color: #00ffff;
        --btn-checked-color: #ff0000;
    }
    h1,h2,h3,p {
        color: #000;
    }
    body {
        background-color: #ffffff;
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --btn-color: #ffff00;
        --btn-checked-color: #0000ff;
    }
    h1,h2,h3,p {
        color: #fff;
    }
    body {
        background-color: #000000;
    }
}