#difficultyRadio{
    top: calc(50vh - var(--hexagon-width) * 3.5);
    left: calc(50vw - var(--hexagon-width) * 4);
    position: absolute;
}
#difficultyRadio > label {
    font-size: min(2.5vw,3vh);
    text-align: right;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#difficultyRadio > input:checked + label {
    color: #000;
    background-color: #ffff00;
}

#timer{
    position: absolute;
    transition: 1s;
}
#timer > #timerBG{
    fill: var(--btn-color);
    transition: 1s;
}
#timer > #timerHand{
    stroke: var(--btn-checked-color);
    fill: none;
    stroke-linecap: round;
    stroke-width: 10;
}
#timer > #timerText{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-anchor: middle;
    font-size: 20;
}
#timer.timer{
    transform: translate(-50%, -50%);
    top:  calc(var(--y-center) + var(--relative-y02));
    left: calc(var(--x-center) + var(--relative-x06));
    width: var(--hexagon-width);
    height: var(--hexagon-width);
}
#timer.timer > #timerBG{
    d: path("m 50 0 a 50 50 90 0 0 -50 50 l 0 0 a 50 50 90 0 0 50 50 l 0 0 a 50 50 90 0 0 50 -50 l 0 0 a 50 50 90 0 0 -50 -50 l 0 0");
}
#timer.timer > #timerHand{
    d: path("M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80");
}
#timer.timer > #timerText{
}

#timer.board{
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
    width: calc(var(--hexagon-width) * 5);
    height: calc(var(--hexagon-width) * 5);
}
#timer.board > #timerBG{
    d: path("m 20 0 a 20 20 90 0 0 -20 20 l 0 60 a 20 20 90 0 0 20 20 l 60 0 a 20 20 90 0 0 20 -20 l 0 -60 a 20 20 90 0 0 -20 -20 l -60 0");
}
#timer.board > #timerHand{
    d: path("M 25 10 a 15 15 90 0 0 -15 15 l 0 50 a 15 15 90 0 0 15 15 l 50 0 a 15 15 90 0 0 15 -15 l 0 -50 a 15 15 90 0 0 -15 -15 l -50 0");
    stroke-dasharray: 0%;
}
#timer.board > #timerText{
}

#modeSwitch + label{
    display: block;
    position: absolute;
}
#modeSwitch + label:before,
#modeSwitch + label:after {
  content: '';
  display: block;
  position: absolute;
}
#modeSwitch + label{
    transform: translate(-50%, -50%);
    top:  calc(var(--y-center) + var(--relative-y03) * 0.95);
    left: calc(var(--x-center) + var(--relative-x06));
    border-radius: calc(var(--hexagon-width) / 4);
    height: calc(var(--hexagon-width) / 2);
    width: var(--hexagon-width);
    background: #c00;
    transition: background 0.4s;
}
#modeSwitch + label:before{
    border-radius: 50%;
    height: calc(var(--hexagon-width) * 7 / 16);
    width: calc(var(--hexagon-width) * 7 / 16);
    left: calc(var(--hexagon-width) / 32);
    top: calc(var(--hexagon-width) / 32);
    background: #ECF0F1;
    transition: left 0.4s;
}
#modeSwitch:checked + label{
    background: #0c0;
}
#modeSwitch:checked + label:before{
    left: calc(var(--hexagon-width) * 17/32);
}


#view{
    position: absolute;
}
#score, #mixAllHex + label, #cancelAllCheckedCheckbox + label{
    position: absolute;
    right: calc(50vw - var(--hexagon-width) * 4);
}

#score{
    top: calc(50vh - var(--hexagon-width) * 3.5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(2 * var(--hexagon-width)/3);
    font-weight: bold;
}

#mixAllHex, #cancelAllCheckedCheckbox, #timerMode{
    display: none;
}

#mixAllHex + label, #cancelAllCheckedCheckbox + label, #timerMode + label{
    clip-path: circle(50% at 50% 50%);
    width: var(--hexagon-width);
    height: var(--hexagon-width);
}
#mixAllHex + label > p, #cancelAllCheckedCheckbox + label > p{
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
    font-size: calc(var(--hexagon-width) * 0.3);
}
#mixAllHex + label{
    top: calc(50vh + var(--hexagon-width) * 1.4);
    background-color: green;
}
#cancelAllCheckedCheckbox + label{
    top: calc(50vh + var(--hexagon-width) * 2.5);
    background-color: red;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 3vh;
    position: absolute;
    margin: 0 0 0 0;
    transform: inherit;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
}
.pipe {
    position: relative;
    margin: 0 0 0 0;
    height: calc(var(--hexagon-width)/5);/*var(--hexagon-diagonal);*/
    width: var(--hexagon-width);
    top: calc((var(--hexagon-height) - var(--hexagon-width)/5)/2);
    /* transform: rotate(120deg); */
    clip-path: polygon(49% 0%, 100% 0%, 100% 100%, 49% 100%);
    background-color: var(--btn-checked-color);
    position: absolute;
    z-index: 1;
    display: none;
}
.u {
    transform: rotate(60deg);
}
.v {
    transform: rotate(120deg);
}
.w {
    transform: rotate(180deg);
}
.x {
    transform: rotate(240deg);
}
.y {
    transform: rotate(300deg);
}
input[type="checkbox"]:checked + .center .pipe{
    background-color: var(--btn-color);
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}
input[type="checkbox"] + .center{
    --bg-color: var(--btn-color);
}
input[type="checkbox"]:checked + .center{
    --bg-color: var(--btn-checked-color);
}
.hexagon {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    border-radius: var(--hexagon-border-radius);
    transition: transform 400ms ease;
    background-color: var(--bg-color);
}
.hexagon:before, .hexagon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}
.origin, .pseudo {
    position: fixed;
    transform: translate(-50%, -50%);
}

.pseudo{
    opacity: 50%;
}

/* top */
#q .pseudo.clockwise, #r .pseudo, #s .pseudo.anticlockwise, #h .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y03));
}
#a .origin, #b .origin, #c .origin, #l .pseudo.anticlockwise, #m .pseudo{
    top:  calc(var(--y-center) + var(--relative-y02));
}
#d .origin, #e .origin, #f .origin, #g .origin, #p .pseudo, #q .pseudo.anticlockwise{
    top:  calc(var(--y-center) + var(--relative-y01));
}
#h .origin, #i .origin, #j .origin, #k .origin, #l .origin, #s .pseudo.clockwise, #a .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y0));
}
#m .origin, #n .origin, #o .origin, #p .origin, #c .pseudo.anticlockwise, #d .pseudo{
    top:  calc(var(--y-center) + var(--relative-y1));
}
#q .origin, #r .origin, #s .origin, #g .pseudo, #h .pseudo.anticlockwise{
    top:  calc(var(--y-center) + var(--relative-y2));
}
#l .pseudo.clockwise, #a .pseudo.anticlockwise, #b .pseudo, #c .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y3));
}

/* left */
#s .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x06));
}
#p .pseudo, #c .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x05));
}
#h .origin, #l .pseudo.anticlockwise, #g .pseudo{
    left:  calc(var(--x-center) + var(--relative-x04));
}
#d .origin, #m .origin, #q .pseudo.clockwise, #l .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x03));
}
#a .origin, #i .origin, #q .origin{
    left:  calc(var(--x-center) + var(--relative-x02));
}
#e .origin, #n .origin, #r .pseudo, #a .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x01));
}
#b .origin, #j .origin, #r .origin{
    left:  calc(var(--x-center) + var(--relative-x0));
}
#f .origin, #o .origin, #s .pseudo.anticlockwise, #b .pseudo{
    left:  calc(var(--x-center) + var(--relative-x1));
}
#c .origin, #k .origin, #s .origin{
    left:  calc(var(--x-center) + var(--relative-x2));
}
#g .origin, #p .origin, #h .pseudo.clockwise, #c .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x3));
}
#l .origin, #m .pseudo, #h .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x4));
}
#q .pseudo.anticlockwise, #d .pseudo{
    left:  calc(var(--x-center) + var(--relative-x5));
}
#a .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x6));
}

h1,h2,h3,p {
    color: #fff;
}
body {
    background-color: #000000;
}
svg > text{
    fill: #000;
}

:root{
    --hexagon-height: min(9vh,8vw);
    --hexagon-width: calc(var(--hexagon-height) * 1.55);
    --hexagon-border-radius: calc(var(--hexagon-width) / 10);
    --hexagon-diagonal: calc(var(--hexagon-height) * 1.843);
    
    --x-center: 50vw;
    --y-center: 50vh;
    --x-space: calc(var(--hexagon-width) / 20);
    --y-space: calc(2 / 1.73 * var(--x-space));

    --relative-x06: calc(-1 * var(--relative-x6));
    --relative-x05: calc(-1 * var(--relative-x5));
    --relative-x04: calc(-1 * var(--relative-x4));
    --relative-x03: calc(-1 * var(--relative-x3));
    --relative-x02: calc(-1 * var(--relative-x2));
    --relative-x01: calc(-1 * var(--relative-x1));
    --relative-x0:       0vw;                 /* b */
    --relative-x1:  calc(1 * var(--15w-1xs)); /* b-< <==f */
    --relative-x2:  calc(2 * var(--15w-1xs)); /* b==> >-f-< <==c */
    --relative-x3:  calc(3 * var(--15w-1xs)); /* b-< <==f==> >-c-< <==g */
    --relative-x4:  calc(4 * var(--15w-1xs)); /* j==> >-f-< <==k==> >-g-< <==l */
    --relative-x5:  calc(5 * var(--15w-1xs));
    --relative-x6:  calc(6 * var(--15w-1xs));
    
    --15w-1xs: calc(0.5 * var(--hexagon-width) + var(--x-space));

    --relative-y03:  calc(-1 * var(--relative-y3));
    --relative-y02:  calc(-1 * var(--relative-y2));
    --relative-y01: calc(-1 * var(--relative-y1));
    --relative-y0:     0vh;
    --relative-y1: calc(1 * var(--15h));
    --relative-y2:  calc(2 * var(--15h));
    --relative-y3:  calc(3 * var(--15h));
    --15h: calc(1.5 * var(--hexagon-height));

    --controls-side-margin: calc(var(--hexagon-width) / 2);

    --btn-color: #ffff00;
    --btn-checked-color: #0000c0;
}