#timer > *{
    position: absolute;
    top: calc(var(--hexagon-width) * 0.6);
    left: calc(var(--controls-side-margin));
}

.timer-bg{
    clip-path: circle(50% at 50% 50%);
    width: var(--hexagon-width);
    height: var(--hexagon-width);
    background-color: #888;
}

.timer-value{
    clip-path: circle(50% at 50% 50%);
    width: var(--hexagon-width);
    height: var(--hexagon-width);
    background-color: var(--btn-color);
}

#controls > * {
    /* display: inline-block; */
}
#view{
    position: absolute;
}
#score, #mixAllHex + label, #cancelAllCheckedCheckbox + label{
    position: absolute;
    right: var(--controls-side-margin);
}

#score{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(2 * var(--hexagon-width)/3);
    font-weight: bold;
}

#mixAllHex, #cancelAllCheckedCheckbox{
    display: none;
}

#mixAllHex + label, #cancelAllCheckedCheckbox + label{
    clip-path: circle(50% at 50% 50%);
    width: var(--hexagon-width);
    height: var(--hexagon-width);
}
#mixAllHex + label > p, #cancelAllCheckedCheckbox + label > p{
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
    font-size: calc(var(--hexagon-width) * 0.3);
}
#cancelAllCheckedCheckbox + label{
    bottom: calc(var(--hexagon-width) * 0.6);
    background-color: red;
}
#mixAllHex + label{
    bottom: calc(var(--hexagon-width) * 1.7);
    background-color: green;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 3vh;
    position: absolute;
    margin: 0 0 0 0;
    transform: inherit;
    top: 50%;
    left: 50%;
    z-index: 2;
}
.pipe {
    position: relative;
    margin: 0 0 0 0;
    height: calc(var(--hexagon-width)/5);/*var(--hexagon-diagonal);*/
    width: var(--hexagon-width);
    top: calc((var(--hexagon-height) - var(--hexagon-width)/5)/2);
    /* transform: rotate(120deg); */
    clip-path: polygon(49% 0%, 100% 0%, 100% 100%, 49% 100%);
    background-color: var(--btn-checked-color);
    position: absolute;
    z-index: 1;
    display: none;
}
.u {
    transform: rotate(60deg);
}
.v {
    transform: rotate(120deg);
}
.w {
    transform: rotate(180deg);
}
.x {
    transform: rotate(240deg);
}
.y {
    transform: rotate(300deg);
}
input[type="checkbox"]:checked + .center .pipe{
    background-color: var(--btn-color);
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + .center{
    --bg-color: var(--btn-color);
}
input[type="checkbox"]:checked + .center{
    --bg-color: var(--btn-checked-color);
}
.hexagon {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    border-radius: var(--hexagon-border-radius);
    transition: transform 400ms ease;
    background-color: var(--bg-color);
}
.hexagon:before, .hexagon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}
.origin, .pseudo {
    position: fixed;
    transform: translate(-50%, -50%);
}

.pseudo{
    opacity: 50%;
}

/* top */
#q .pseudo.clockwise, #r .pseudo, #s .pseudo.anticlockwise, #h .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y03));
}
#a .origin, #b .origin, #c .origin, #l .pseudo.anticlockwise, #m .pseudo{
    top:  calc(var(--y-center) + var(--relative-y02));
}
#d .origin, #e .origin, #f .origin, #g .origin, #p .pseudo, #q .pseudo.anticlockwise{
    top:  calc(var(--y-center) + var(--relative-y01));
}
#h .origin, #i .origin, #j .origin, #k .origin, #l .origin, #s .pseudo.clockwise, #a .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y0));
}
#m .origin, #n .origin, #o .origin, #p .origin, #c .pseudo.anticlockwise, #d .pseudo{
    top:  calc(var(--y-center) + var(--relative-y1));
}
#q .origin, #r .origin, #s .origin, #g .pseudo, #h .pseudo.anticlockwise{
    top:  calc(var(--y-center) + var(--relative-y2));
}
#l .pseudo.clockwise, #a .pseudo.anticlockwise, #b .pseudo, #c .pseudo.clockwise{
    top:  calc(var(--y-center) + var(--relative-y3));
}

/* left */
#s .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x06));
}
#p .pseudo, #c .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x05));
}
#h .origin, #l .pseudo.anticlockwise, #g .pseudo{
    left:  calc(var(--x-center) + var(--relative-x04));
}
#d .origin, #m .origin, #q .pseudo.clockwise, #l .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x03));
}
#a .origin, #i .origin, #q .origin{
    left:  calc(var(--x-center) + var(--relative-x02));
}
#e .origin, #n .origin, #r .pseudo, #a .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x01));
}
#b .origin, #j .origin, #r .origin{
    left:  calc(var(--x-center) + var(--relative-x0));
}
#f .origin, #o .origin, #s .pseudo.anticlockwise, #b .pseudo{
    left:  calc(var(--x-center) + var(--relative-x1));
}
#c .origin, #k .origin, #s .origin{
    left:  calc(var(--x-center) + var(--relative-x2));
}
#g .origin, #p .origin, #h .pseudo.clockwise, #c .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x3));
}
#l .origin, #m .pseudo, #h .pseudo.anticlockwise{
    left:  calc(var(--x-center) + var(--relative-x4));
}
#q .pseudo.anticlockwise, #d .pseudo{
    left:  calc(var(--x-center) + var(--relative-x5));
}
#a .pseudo.clockwise{
    left:  calc(var(--x-center) + var(--relative-x6));
}

:root{
    --hexagon-height: min(9vh,8vw);
    --hexagon-width: calc(var(--hexagon-height) * 1.55);
    --hexagon-border-radius: calc(var(--hexagon-width) / 10);
    --hexagon-diagonal: calc(var(--hexagon-height) * 1.843);
    
    --x-center: 50vw;
    --y-center: 50vh;
    --x-space: calc(var(--hexagon-width) / 20);
    --y-space: calc(2 / 1.73 * var(--x-space));

    --relative-x06: calc(-1 * var(--relative-x6));
    --relative-x05: calc(-1 * var(--relative-x5));
    --relative-x04: calc(-1 * var(--relative-x4));
    --relative-x03: calc(-1 * var(--relative-x3));
    --relative-x02: calc(-1 * var(--relative-x2));
    --relative-x01: calc(-1 * var(--relative-x1));
    --relative-x0:       0vw;                 /* b */
    --relative-x1:  calc(1 * var(--15w-1xs)); /* b-< <==f */
    --relative-x2:  calc(2 * var(--15w-1xs)); /* b==> >-f-< <==c */
    --relative-x3:  calc(3 * var(--15w-1xs)); /* b-< <==f==> >-c-< <==g */
    --relative-x4:  calc(4 * var(--15w-1xs)); /* j==> >-f-< <==k==> >-g-< <==l */
    --relative-x5:  calc(5 * var(--15w-1xs));
    --relative-x6:  calc(6 * var(--15w-1xs));
    
    --15w-1xs: calc(0.5 * var(--hexagon-width) + var(--x-space));

    --relative-y03:  calc(-1 * var(--relative-y3));
    --relative-y02:  calc(-1 * var(--relative-y2));
    --relative-y01: calc(-1 * var(--relative-y1));
    --relative-y0:     0vh;
    --relative-y1: calc(1 * var(--15h));
    --relative-y2:  calc(2 * var(--15h));
    --relative-y3:  calc(3 * var(--15h));
    --15h: calc(1.5 * var(--hexagon-height));

    --controls-side-margin: calc(var(--hexagon-width) / 2);
}
@media (prefers-color-scheme: light) {
    :root{
        --btn-color: #00ffff;
        --btn-checked-color: #C00000;
    }
    h1,h2,h3,p {
        color: #000;
    }
    body {
        background-color: #ffffff;
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --btn-color: #ffff00;
        --btn-checked-color: #0000c0;
    }
    h1,h2,h3,p {
        color: #fff;
    }
    body {
        background-color: #000000;
    }
}